<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="wrapper">
      <form action="login" method="POST">
        <div class="header">
          <span class="title">Enter your login informtion</span>
        </div>
        <div class="fields" id="fields">
          <input type="text" name="username" placeholder="Enter your username" />
        </div>
        <div class="fields" id="fields">
          <input type="text" name="password" placeholder="Enter your password" />
        </div>
          <button>Log me in</button>
        </div>
      </form>
    </div>
  </body>
</html>
